/*   
Theme Name: Reservation Telephone Company
Theme URI: http://reservation-telephone-company.pivotgroupdev.com
Description: An official Wordpress theme for Reservation Telephone Company.
Author: Pivot Group
Author URI: http://www.AskPivot.com
Version: 1.0

Private License Unavailable For Distrubiting
*/

body {
	background: #6d6f71 url(images/body-background.png) repeat-x;
	font-family: Trebuchet MS;
	margin: 0;
	padding: 0;
}
table, tr, td, p, h1, h2, h3, h4, h5, h6, div, span, ul, li, a, a img {
	border: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto 0 auto;
	width: 990px;
}
.preloaded-images {
	
}




/* BEGINNING OF ROW-1 */
/* BEGINNING OF ROW-1 */
/* BEGINNING OF ROW-1 */
.row-1 {
	height: 100px;
	width: 100%;
}
.row-1-row-1 {
	margin: 0 auto 0 auto;
	width: 980px;
}



/* BEGINNING OF ROW-1-COL-1 */
/* BEGINNING OF ROW-1-COL-1 */
.row-1-col-1 {
	float: left;
	padding: 0 0 0 110px;
	width: 70px;
}




/* BEGINNING OF ROW-1-COL-2 */
/* BEGINNING OF ROW-1-COL-2 */
.row-1-col-2 {
	float: right;
	padding: 5px 120px 0 0;
	width: 600px;
}


/* ROW-1-COL-2-ROW-1 */
.row-1-col-2-row-1 {
	float: left;
	width: 100%;
}
.row-1-col-2-row-1 input[type='text'] {
	background: #fff;
	border: none;
	color: #afb0b3;
	float: right;
	font-size: 9px;
	height: 14px;
	margin: 0;
	padding: 3px;
	width: 140px;
}
.row-1-col-2-row-1 input[type='submit'] {
	background: #f47b17;
	border: none;
	color: #fff;
	float: right;
	height: 20px;
	margin: 0;
	font-style: italic;
	padding: 3px;
}


/* ROW-1-COL-2-ROW-2 */
.row-1-col-2-row-2 {
	float: right;
	text-align: right;
	margin: 30px 0 0 0;
	width: 610px;
}
.row-1-col-2-row-2 a.about {
	background: url(images/row-1-col-2-row-2-about.png) no-repeat;
	float: right;
	height: 30px;
	margin: 0 10px 0 0;
	width: 65px;
}
.row-1-col-2-row-2 a.about:hover {
	background: url(images/row-1-col-2-row-2-about-hover.png) no-repeat;
}
.row-1-col-2-row-2 a.about.current_page_item {
	background: url(images/row-1-col-2-row-2-about-hover.png) no-repeat;
}
.row-1-col-2-row-2 a.products {
	background: url(images/row-1-col-2-row-2-products.png) no-repeat;
	float: right;
	height: 30px;
	margin: 0 10px 0 0;
	width: 91px;
}
.row-1-col-2-row-2 a.products:hover {
	background: url(images/row-1-col-2-row-2-products-hover.png) no-repeat;
}
.row-1-col-2-row-2 a.products.current_page_item {
	background: url(images/row-1-col-2-row-2-products-hover.png) no-repeat;
}
.row-1-col-2-row-2 a.services {
	background: url(images/row-1-col-2-row-2-services.png) no-repeat;
	float: right;
	height: 30px;
	margin: 0 10px 0 0;
	width: 85px;
}
.row-1-col-2-row-2 a.services:hover {
	background: url(images/row-1-col-2-row-2-services-hover.png) no-repeat;
}
.row-1-col-2-row-2 a.services.current_page_item {
	background: url(images/row-1-col-2-row-2-services-hover.png) no-repeat;
}
.row-1-col-2-row-2 a.contact-us {
	background: url(images/row-1-col-2-row-2-contact-us.png) no-repeat;
	float: right;
	height: 30px;
	margin: 0 10px 0 0;
	width: 108px;
}
.row-1-col-2-row-2 a.contact-us:hover {
	background: url(images/row-1-col-2-row-2-contact-us-hover.png) no-repeat;
}
.row-1-col-2-row-2 a.contact-us.current_page_item {
	background: url(images/row-1-col-2-row-2-contact-us-hover.png) no-repeat;
}
.row-1-col-2-row-2 a.online-directory {
	background: url(images/row-1-col-2-row-2-online-directory.png) no-repeat;
	float: right;
	height: 30px;
	margin: 0 10px 0 0;
	width: 152px;
}
.row-1-col-2-row-2 a.online-directory:hover {
	background: url(images/row-1-col-2-row-2-online-directory-hover.png) no-repeat;
}
.row-1-col-2-row-2 a.online-directory.current_page_item {
	background: url(images/row-1-col-2-row-2-online-directory-hover.png) no-repeat;
}




/* BEGINNING OF ROW-2 */
/* BEGINNING OF ROW-2 */
/* BEGINNING OF ROW-2 */
.front-page .row-2 {
	height: 411px;
	width: 100%;
}
.row-2 #gsp_presentation_main_wrap {
	width: 756px;
	left: 50%;
	margin: 38px 0 0 -378px;
}

/* BEGINNING OF PAGE ROW-2 */
.page .row-2 {
	background: #d1d2d4 url(images/page-row-3-background.png) repeat-x;
	float: left;
	font-family: Myriad Pro;
	padding: 40px 0 0 0;
	width: 100%;
}
.page .row-2-row-2 {
	margin: 0 auto 0 auto;
	width: 980px;
}
.page .row-2-col-1 {
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	text-align: right;
	margin: 0 -15px 0 0;
	padding: 0 20px 0 15px;
	width: 130px;
}
.page .row-2-col-1 hr {
	border: 1px solid #808385;
	float: right;
	width: 100%;
}
.page .row-2-col-1-row-1 a {
	clear: both;
	color: #162b81;
	float: right;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	height: 25px;
	margin: 5px 10px 0 0;
	padding: 5px 50px 0 0;
	text-decoration: none;
	text-transform: uppercase;
}
.page .row-2-col-1-row-1 a:hover {
	color: #ccc;
}
.row-2-col-1-row-1 .current_page_item {
	text-transform: uppercase;
	background: #333;
}
.page .row-2-col-1-row-1 a.voice {
	background: url(images/row-2-col-1-row-1-voice-icon.png) no-repeat top right;
}
.page .row-2-col-1-row-1 a.data {
	background: url(images/row-2-col-1-row-1-data-icon.png) no-repeat top right;
}
.page .row-2-col-1-row-1 a.video {
	background: url(images/row-2-col-1-row-1-video-icon.png) no-repeat top right;
}
.page .row-2-col-1-row-1 a.bundle {
	background: url(images/row-2-col-1-row-1-bundle-icon.png) no-repeat top right;
}
.page .row-2-col-1-row-2 {
	padding: 15px 10px 15px 0;
	float: right;
}
.page .row-2-col-1-row-2 h1 {
	clear: both;
	color: #f27b18;
	float: right;
	font-size: 14px;
	text-transform: capitalize;
}
.page .row-2-col-1-row-2 li a {
	clear: both;
	float: right;
	font-size: 11px;
	margin: 5px 0 0 0;
	text-transform: uppercase;
	color: #6d6f71;
	text-decoration: none;
}
.page .row-2-col-1-row-2 li a:hover {
	text-decoration: underline;
}
.page .row-2-col-1-row-2 li ul {
	padding: 0 0 25px 0;
}
.page .row-2-col-1-row-2 .current_page_item li a {
	font-weight: bold;
}
.page .row-2-col-1-row-2 .current_page_item li ul li a {
	font-weight: bold;
}

.page .row-2-col-1-row-2 li ul {
	padding: 0 0 15px 0;
	float: right;
}
.page .row-2-col-1-row-2 li ul li a {
	font-size: 10px;
	text-transform: capitalize;
	font-weight: normal;
}



/* BEGINNING OF PAGE ROW-2-COL-2*/
/* BEGINNING OF PAGE ROW-2-COL-2*/
.page .row-2-col-2 {
	float: left;
	width: 760px;
}


/* BEGINNING OF PAGE ROW-2-COL-2-ROW-1 */
.page .row-2-col-2-row-1 {
	float: left;
	height: 200px;
	width: 100%;
}


/* BEGINNING OF PAGE ROW-2-COL-2-ROW-2 */
.page .row-2-col-2-row-2 {
	background: url(images/page-row-2-col-2-background-middle.png) repeat-y center;
	float: left;
	min-height: 300px;
	padding: 20px 100px 45px 100px;
	width: 560px;
}
.page .row-2-col-2-row-2 a, .search .row-2-col-2-row-2 a {
	color: #f78f1e;
	font-weight: bold;
	text-decoration: underline;
}
.page .row-2-col-2-row-2 a:hover, .search .row-2-col-2-row-2 a:hover {
	text-decoration: none;
}
.page .row-2-col-2-row-2 p {
	font-size: 13px;
}
.page .row-2-col-2-row-2 h1 {
	color: #162b81;
	font-size: 15px;
	text-transform: uppercase;
}
.page .row-2-col-2-row-2 .search-form {
	float: right;
	clear: both;
	margin: 25px 0 25px 0;
	width: 100%;
}
.page .search-form input[type='text'] {
	background: #fff;
	border: none;
	color: #afb0b3;
	float: right;
	border: 1px solid #a29fa1;
	border-right: none;
	font-size: 9px;
	height: 12px;
	padding: 3px;
	width: 528px;
}
.search-form input[type='text']:focus {
	color: #333;
}
.search .search-form input[type='submit'], .page .search-form input[type='submit'] {
	background: #f47b17;
	border: none;
	color: #fff;
	float: right;
	height: 20px;
	margin: 0;
	font-style: italic;
	padding: 3px;
}
.search .row-2-col-2-row-2 hr {
	margin: 30px 0 45px 0;
}
.search .row-2-col-2-row-2 p {
	font-size: 13px;
}
.search .row-2-col-2-row-2 h1 {
	color: #f27b18;
}
.search .row-2-col-2-row-2 .navigation {
	float: left;
	margin: 30px 0 15px 0;
	width: 100%;
}
.search .row-2-col-2-row-2 .found {
	clear: left;
	float: left;
	margin: 5px 0 0 0;
	width: 300px;
}
.search .row-2-col-2-row-2 .found-text {
	color: #0b3496;
	font-weight: bold;
}
.search .row-2-col-2-row-2 .older-entries {
	float: left;
}
.search .row-2-col-2-row-2 .older-entries a {
	color: #f27b18;
	float: none;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
}
.search .row-2-col-2-row-2 .newer-entries {
	float: right;
}
.search .row-2-col-2-row-2 .newer-entries a {
	color: #f27b18;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
}
.search .row-2-col-2-row-2 h3 a {
	color: #808284;
	float: none;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
}
.search .row-2-col-2-row-2 .the-content {
	float: left;
}
.search .row-2-col-2-row-2 .search-form {
	float: right;
	clear: right;
	margin: 0;
	width: 200px;
}
.search .search-form input[type='text'] {
	background: #fff;
	border: none;
	color: #afb0b3;
	float: right;
	border: 1px solid #a29fa1;
	border-right: none;
	font-size: 9px;
	height: 12px;
	margin: 0;
	padding: 3px;
	width: 140px;
}
.search .search-form input[type='submit'], .page .search-form input[type='submit'] {
	background: #f47b17;
	border: none;
	color: #fff;
	float: right;
	height: 20px;
	margin: 0;
	font-style: italic;
	padding: 3px;
}


/* BEGINNING OF PAGE ROW-2-COL-2-ROW-3 */
.page .row-2-col-2-row-3 {
	background: url(images/page-row-2-col-2-background-bottom.png) no-repeat center;
	float: left;
	height: 33px;
	width: 100%;
}




/* BEGINNING OF ROW-3 */
/* BEGINNING OF ROW-3 */
/* BEGINNING OF ROW-3 */
.front-page .row-3 {
	height: 342px;
	margin: 0 auto 0 auto;
	width: 607px;
}
.front-page .row-3 p {
	color: #fff;
	font-size: 10px;
	width: 350px;
}



/* BEGINNING OF ROW-3-ROW-1 */
/* BEGINNING OF ROW-3-ROW-1 */
.front-page .row-3-row-1 {
	clear: both;
	float: left;
	width: 607px;
}


/* BEGINNING OF ROW-3-ROW-1-COL-1 */
.front-page .row-3-row-1-col-1 {
	background: url(images/slideshow/my-rtc/background.png) no-repeat;
	float: left;
	overflow: hidden;
	height: 150px;
	padding: 0 0 0 50px;
	width: 307px;
}


/* BEGINNING OF ROW-3-ROW-1-COL-2 */
.front-page .row-3-row-1-col-2 {
	float: left;
	width: 300px;
}



/* BEGINNING OF ROW-3-ROW-2 */
/* BEGINNING OF ROW-3-ROW-2 */
.front-page .row-3-row-2 {
	clear: both;
	float: left;
	width: 607px;
}




/* BEGINNING OF ROW-4 */
/* BEGINNING OF ROW-4 */
/* BEGINNING OF ROW-4 */
.row-4 {
	background: url(images/row-4-background-top.png);
	clear: both;
	float: left;
	padding: 140px 0 25px 0;
	text-align: center;
	width: 100%;
}
.row-4 li {
	display: inline;
}
.row-4 p, .row-4 a {
	color: #fff;
	font-size: 11px;
	margin: 0 25px 0 0;
	text-decoration: none;
	text-transform: uppercase;
}
.row-4 img {
	margin: -15px 0 0 0;
	position: absolute;
}




/* SEARCH PAGE STYLES */
/* SEARCH PAGE STYLES */
/* SEARCH PAGE STYLES */
.search .row-2-col-2-row-2 img, .search .row-2-col-2-row-2 table {
	display: none;
}




/* CALENDAR */
/* CALENDAR */
/* CALENDAR */
.list-upcoming-events {
	float: left;
	width: 100%;
}
.list-date {
	float: left;
	width: 100px;
}
.list-event {
	float: left;
	padding: 15px;
	width: 520px;
}
.even {
	background: #edeeee;
}
.calendar-table {
	background: #afb0b3;
	color: #fff;
	padding: 5px;
	float: left;
}
.calendar-table td.date {
	width: 100px;
}
.calendar-table td.title-and-description {
	width: 325px;
}